<p id="notice"><%= notice %></p>

<p>
  <strong>Reg idregtab:</strong>
  <%= @daw_registro.reg_idregtab %>
</p>

<p>
  <strong>Reg descripcion:</strong>
  <%= @daw_registro.reg_descripcion %>
</p>

<p>
  <strong>Reg char:</strong>
  <%= @daw_registro.reg_char %>
</p>

<p>
  <strong>Reg varchar:</strong>
  <%= @daw_registro.reg_varchar %>
</p>

<p>
  <strong>Reg float:</strong>
  <%= @daw_registro.reg_float %>
</p>

<p>
  <strong>Reg boolean:</strong>
  <%= @daw_registro.reg_boolean %>
</p>

<p>
  <strong>Reg fecha:</strong>
  <%= @daw_registro.reg_fecha %>
</p>

<p>
  <strong>Reg activo:</strong>
  <%= @daw_registro.reg_activo %>
</p>

<p>
  <strong>Daw tabla:</strong>
  <%= @daw_registro.daw_tabla %>
</p>

<%= link_to 'Edit', edit_daw_registro_path(@daw_registro) %> |
<%= link_to 'Back', daw_registros_path %>
