<p id="notice"><%= notice %></p>

<h1>Listing Daw Curso Encuests</h1>

<table>
  <thead>
    <tr>
      <th>Curenc periodo</th>
      <th>Daw encuest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daw_curso_encuests.each do |daw_curso_encuest| %>
      <tr>
        <td><%= daw_curso_encuest.curenc_periodo %></td>
        <td><%= daw_curso_encuest.daw_encuest %></td>
        <td><%= link_to 'Show', daw_curso_encuest %></td>
        <td><%= link_to 'Edit', edit_daw_curso_encuest_path(daw_curso_encuest) %></td>
        <td><%= link_to 'Destroy', daw_curso_encuest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daw curso encuest', new_daw_curso_encuest_path %>
