<p id="notice"><%= notice %></p>

<p>
  <strong>Curenc periodo:</strong>
  <%= @daw_curso_encuest.curenc_periodo %>
</p>

<p>
  <strong>Daw encuest:</strong>
  <%= @daw_curso_encuest.daw_encuest %>
</p>

<%= link_to 'Edit', edit_daw_curso_encuest_path(@daw_curso_encuest) %> |
<%= link_to 'Back', daw_curso_encuests_path %>
