<%= form_for(@daw_preguntae) do |f| %>
  <% if @daw_preguntae.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daw_preguntae.errors.count, "error") %> prohibited this daw_preguntae from being saved:</h2>

      <ul>
      <% @daw_preguntae.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pre_encabezado %><br>
    <%= f.text_area :pre_encabezado %>
  </div>
  <div class="field">
    <%= f.label :pre_orden %><br>
    <%= f.number_field :pre_orden %>
  </div>
  <div class="field">
    <%= f.label :daw_sondeo_id %><br>
    <%= f.text_field :daw_sondeo_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
