<p id="notice"><%= notice %></p>

<p>
  <strong>Pre encabezado:</strong>
  <%= @daw_preguntae.pre_encabezado %>
</p>

<p>
  <strong>Pre orden:</strong>
  <%= @daw_preguntae.pre_orden %>
</p>

<p>
  <strong>Daw sondeo:</strong>
  <%= @daw_preguntae.daw_sondeo %>
</p>

<%= link_to 'Edit', edit_daw_preguntae_path(@daw_preguntae) %> |
<%= link_to 'Back', daw_preguntaes_path %>
