<p id="notice"><%= notice %></p>

<p>
  <strong>Calif notaobtenida:</strong>
  <%= @daw_calificacion.calif_notaObtenida %>
</p>

<p>
  <strong>Calif presento:</strong>
  <%= @daw_calificacion.calif_presento %>
</p>

<p>
  <strong>Calif fecha:</strong>
  <%= @daw_calificacion.calif_fecha %>
</p>

<%= link_to 'Edit', edit_daw_calificacion_path(@daw_calificacion) %> |
<%= link_to 'Back', daw_calificacions_path %>
