<p id="notice"><%= notice %></p>

<p>
  <strong>Lugar nombre:</strong>
  <%= @daw_lugar.lugar_nombre %>
</p>

<p>
  <strong>Lugar tipo:</strong>
  <%= @daw_lugar.lugar_tipo %>
</p>

<p>
  <strong>Lugar nivel:</strong>
  <%= @daw_lugar.lugar_nivel %>
</p>

<p>
  <strong>Daw lugar:</strong>
  <%= @daw_lugar.daw_lugar %>
</p>

<%= link_to 'Edit', edit_daw_lugar_path(@daw_lugar) %> |
<%= link_to 'Back', daw_lugars_path %>
