<p id="notice"><%= notice %></p>

<h1>Listing Daw Tablas</h1>

<table>
  <thead>
    <tr>
      <th>Tab nombre</th>
      <th>Tab nemonico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daw_tablas.each do |daw_tabla| %>
      <tr>
        <td><%= daw_tabla.tab_nombre %></td>
        <td><%= daw_tabla.tab_nemonico %></td>
        <td><%= link_to 'Show', daw_tabla %></td>
        <td><%= link_to 'Edit', edit_daw_tabla_path(daw_tabla) %></td>
        <td><%= link_to 'Destroy', daw_tabla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daw tabla', new_daw_tabla_path %>
