<p id="notice"><%= notice %></p>

<p>
  <strong>Tab nombre:</strong>
  <%= @daw_tabla.tab_nombre %>
</p>

<p>
  <strong>Tab nemonico:</strong>
  <%= @daw_tabla.tab_nemonico %>
</p>

<%= link_to 'Edit', edit_daw_tabla_path(@daw_tabla) %> |
<%= link_to 'Back', daw_tablas_path %>
