<p id="notice"><%= notice %></p>

<h1>Listing Daw Codigos</h1>

<table>
  <thead>
    <tr>
      <th>Cod valor</th>
      <th>Cod estado</th>
      <th>Daw promocion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daw_codigos.each do |daw_codigo| %>
      <tr>
        <td><%= daw_codigo.cod_valor %></td>
        <td><%= daw_codigo.cod_estado %></td>
        <td><%= daw_codigo.daw_promocion %></td>
        <td><%= link_to 'Show', daw_codigo %></td>
        <td><%= link_to 'Edit', edit_daw_codigo_path(daw_codigo) %></td>
        <td><%= link_to 'Destroy', daw_codigo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daw codigo', new_daw_codigo_path %>
