<h2>ohvianny</h2>
<ul>
	<li><%= link_to "daw_log_transaccion", daw_log_transaccions_path , :class => 'nbar'%></li>
	<li><%= link_to "daw_log_error", daw_log_errors_path , :class => 'nbar'%></li>
	<li><%= link_to "daw_tabla", daw_tablas_path , :class => 'nbar'%></li>
	<li><%= link_to "daw_registro", daw_registros_path , :class => 'nbar'%></li>
	<li><%= link_to "daw_his_cambio", daw_hist_cambios_path , :class => 'nbar'%></li>
	<li><%= link_to "daw_promo", daw_promos_path , :class => 'nbar'%></li>
	<li><%= link_to "daw_codigo", daw_codigos_path , :class => 'nbar'%></li>
	<li><%= link_to "Curso Promocion", daw_curso_promos_path , :class => 'nbar'%></li>
	<li><%= link_to "Matriculas Promocion", daw_matricula_promos_path , :class => 'nbar'%></li>
	<li><%= link_to "Comunicado", daw_comunicados_path , :class => 'nbar'%></li>
	<li><%= link_to "Encuesta", daw_encuests_path , :class => 'nbar'%></li>
	<li><%= link_to "Curso Encuesta", daw_curso_encuests_path , :class => 'nbar'%></li>
	<li><%= link_to "Pregunta Encuesta", daw_preguntaes_path , :class => 'nbar'%></li>
	<li><%= link_to "Respuesta Encuesta", daw_respuestaes_path , :class => 'nbar'%></li>
</ul>
 

           
