<%= form_for(@daw_representante) do |f| %>
  <% if @daw_representante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daw_representante.errors.count, "error") %> prohibited this daw_representante from being saved:</h2>

      <ul>
      <% @daw_representante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :repr_profesion %><br>
    <%= f.text_field :repr_profesion %>
  </div>
  <div class="field">
    <%= f.label :repr_sostenfamiliar %><br>
    <%= f.check_box :repr_sostenfamiliar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
