<p id="notice"><%= notice %></p>

<p>
  <strong>Repr profesion:</strong>
  <%= @daw_representante.repr_profesion %>
</p>

<p>
  <strong>Repr sostenfamiliar:</strong>
  <%= @daw_representante.repr_sostenfamiliar %>
</p>

<%= link_to 'Edit', edit_daw_representante_path(@daw_representante) %> |
<%= link_to 'Back', daw_representantes_path %>
