<%= form_for(@daw_encuest) do |f| %>
  <% if @daw_encuest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daw_encuest.errors.count, "error") %> prohibited this daw_encuest from being saved:</h2>

      <ul>
      <% @daw_encuest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :enc_nombre %><br>
    <%= f.text_field :enc_nombre %>
  </div>
  <div class="field">
    <%= f.label :enc_descripcion %><br>
    <%= f.text_area :enc_descripcion %>
  </div>
  <div class="field">
    <%= f.label :enc_tipoencuest %><br>
    <%= f.text_field :enc_tipoencuest %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
