<p id="notice"><%= notice %></p>

<h1>Listing Daw Encuests</h1>

<table>
  <thead>
    <tr>
      <th>Enc nombre</th>
      <th>Enc descripcion</th>
      <th>Enc tipoencuest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daw_encuests.each do |daw_encuest| %>
      <tr>
        <td><%= daw_encuest.enc_nombre %></td>
        <td><%= daw_encuest.enc_descripcion %></td>
        <td><%= daw_encuest.enc_tipoencuest %></td>
        <td><%= link_to 'Show', daw_encuest %></td>
        <td><%= link_to 'Edit', edit_daw_encuest_path(daw_encuest) %></td>
        <td><%= link_to 'Destroy', daw_encuest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daw encuest', new_daw_encuest_path %>
