<%= form_for(@daw_evaluacion) do |f| %><br><br><br><br><br>
  <% if @daw_evaluacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daw_evaluacion.errors.count, "error") %> prohibited this daw_evaluacion from being saved:</h2>

      <ul>
      <% @daw_evaluacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Ponderacion %><br>
    <%= f.number_field :eval_ponderacion %>
  </div>
  <div class="field">
    <%= f.label :Periodo %><br>
    <%=f.date_field :eval_periodo %>
  </div>
  <div class="field">
    <%= f.label :Orden %><br>
    <%= f.number_field :eval_orden %>
  </div>
  <div class="field">
    <%= f.label :Tipo %><br>
    <%= f.number_field :eval_tipoeval %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

