<%= form_for(@daw_tema_mate_acad) do |f| %><br><br><br><br><br><br>
  <% if @daw_tema_mate_acad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daw_tema_mate_acad.errors.count, "error") %> prohibited this daw_tema_mate_acad from being saved:</h2>

      <ul>
      <% @daw_tema_mate_acad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Orden %><br>
    <%= f.number_field :tmac_orden %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
