<p id="notice"><%= notice %></p>

<p>
  <strong>Rela tiporepresentante:</strong>
  <%= @daw_relacion.rela_tiporepresentante %>
</p>

<p>
  <strong>Daw persona:</strong>
  <%= @daw_relacion.daw_persona %>
</p>

<p>
  <strong>Daw persona:</strong>
  <%= @daw_relacion.daw_persona %>
</p>

<%= link_to 'Edit', edit_daw_relacion_path(@daw_relacion) %> |
<%= link_to 'Back', daw_relacions_path %>
