<p id="notice"><%= notice %></p>

<h1>Listing Daw Temas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daw_temas.each do |daw_tema| %>
      <tr>
        <td><%= link_to 'Show', daw_tema %></td>
        <td><%= link_to 'Edit', edit_daw_tema_path(daw_tema) %></td>
        <td><%= link_to 'Destroy', daw_tema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daw tema', new_daw_tema_path %>
