<%= form_for(@daw_reclamo) do |f| %>
  <% if @daw_reclamo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daw_reclamo.errors.count, "error") %> prohibited this daw_reclamo from being saved:</h2>

      <ul>
      <% @daw_reclamo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recl_descripcion %><br>
    <%= f.text_field :recl_descripcion %>
  </div>
  <div class="field">
    <%= f.label :recl_fecha %><br>
    <%= f.time_select :recl_fecha %>
  </div>
  <div class="field">
    <%= f.label :recl_atendido %><br>
    <%= f.check_box :recl_atendido %>
  </div>
  <div class="field">
    <%= f.label :recl_tiporeclamo %><br>
    <%= f.number_field :recl_tiporeclamo %>
  </div>
  <div class="field">
    <%= f.label :daw_persona_id %><br>
    <%= f.text_field :daw_persona_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
