<p id="notice"><%= notice %></p>

<p>
  <strong>Insc fechaini:</strong>
  <%= @daw_inscripcion.insc_fechaini %>
</p>

<p>
  <strong>Insc fechafin:</strong>
  <%= @daw_inscripcion.insc_fechafin %>
</p>

<p>
  <strong>Insc estado:</strong>
  <%= @daw_inscripcion.insc_estado %>
</p>

<p>
  <strong>Insc tipo:</strong>
  <%= @daw_inscripcion.insc_tipo %>
</p>

<p>
  <strong>Insc estadopago:</strong>
  <%= @daw_inscripcion.insc_estadoPago %>
</p>

<p>
  <strong>Insc estadodoc:</strong>
  <%= @daw_inscripcion.insc_estadoDoc %>
</p>

<%= link_to 'Edit', edit_daw_inscripcion_path(@daw_inscripcion) %> |
<%= link_to 'Back', daw_inscripcions_path %>
