<p id="notice"><%= notice %></p>

<h1>Listing Daw Logtransaccions</h1>

<table>
  <thead>
    <tr>
      <th>Logt sesion</th>
      <th>Logt descripcion</th>
      <th>Logt fecha</th>
      <th>Logt estado</th>
      <th>Logt transaccion</th>
      <th>Logt argumento1</th>
      <th>Logt argumento2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daw_logtransaccions.each do |daw_logtransaccion| %>
      <tr>
        <td><%= daw_logtransaccion.logt_sesion %></td>
        <td><%= daw_logtransaccion.logt_descripcion %></td>
        <td><%= daw_logtransaccion.logt_fecha %></td>
        <td><%= daw_logtransaccion.logt_estado %></td>
        <td><%= daw_logtransaccion.logt_transaccion %></td>
        <td><%= daw_logtransaccion.logt_argumento1 %></td>
        <td><%= daw_logtransaccion.logt_argumento2 %></td>
        <td><%= link_to 'Show', daw_logtransaccion %></td>
        <td><%= link_to 'Edit', edit_daw_logtransaccion_path(daw_logtransaccion) %></td>
        <td><%= link_to 'Destroy', daw_logtransaccion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daw logtransaccion', new_daw_logtransaccion_path %>
