<%= form_for(@daw_curso) do |f| %><br><br><br><br>
  <% if @daw_curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daw_curso.errors.count, "error") %> prohibited this daw_curso from being saved:</h2>

      <ul>
      <% @daw_curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :curso_nombre %>
  </div>
  <div class="field">
    <%= f.label :Descripcion_de_la_meta_del_curso %><br>
    <%= f.text_area :curso_descripcionmeta %>
  </div>
  <div class="field">
    <%= f.label :Descripcion_de_los_pasos_del_curso %><br>
    <%= f.text_area :curso_descripcionpasos %>
  </div>
  <div class="field">
    <%= f.label :Descripcion_del_curso %><br>
    <%= f.text_area :curso_descripcioncurso %>
  </div>
  <div class="field">
    <%= f.label :Estado %><br>
    <%= f.text_field :curso_estado %>
  </div>
  <div class="field">
    <%= f.label :Visible %><br>
    <%=f.check_box :curso_visible %>
  </div>
  <div class="field">
    <%= f.label :Periodo %><br>
    <%= f.number_field :curso_periodo %>
  </div>
  <div class="field">
    <%= f.label :Tipo_de_fase %><br>
    <%= f.number_field :curso_tipolapso %>
  </div>
  <div class="field">
    <%= f.label :Tipo_de_Precio %><br>
    <%= f.number_field :curso_tipoprecio %>
  </div>

  <div class="field">
    <%= f.label :URL_de_la_imagen %><br>
    <%= f.number_field :curso_imagen %>
  </div>

  <div class="field">
    <%= f.label :URL_del_video %><br>
    <%= f.number_field :curso_video %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>