<p id="notice"><%= notice %></p>

<h1>Listing Daw Promos</h1>

<table>
  <thead>
    <tr>
      <th>Pro nombre</th>
      <th>Pro porcentaje</th>
      <th>Pro fechaini</th>
      <th>Pro fechafin</th>
      <th>Pro tipopromocion</th>
      <th>Pro estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daw_promos.each do |daw_promo| %>
      <tr>
        <td><%= daw_promo.pro_nombre %></td>
        <td><%= daw_promo.pro_porcentaje %></td>
        <td><%= daw_promo.pro_fechaini %></td>
        <td><%= daw_promo.pro_fechafin %></td>
        <td><%= daw_promo.pro_tipopromocion %></td>
        <td><%= daw_promo.pro_estado %></td>
        <td><%= link_to 'Show', daw_promo %></td>
        <td><%= link_to 'Edit', edit_daw_promo_path(daw_promo) %></td>
        <td><%= link_to 'Destroy', daw_promo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daw promo', new_daw_promo_path %>
