<p id="notice"><%= notice %></p>

<p>
  <strong>Pro nombre:</strong>
  <%= @daw_promo.pro_nombre %>
</p>

<p>
  <strong>Pro porcentaje:</strong>
  <%= @daw_promo.pro_porcentaje %>
</p>

<p>
  <strong>Pro fechaini:</strong>
  <%= @daw_promo.pro_fechaini %>
</p>

<p>
  <strong>Pro fechafin:</strong>
  <%= @daw_promo.pro_fechafin %>
</p>

<p>
  <strong>Pro tipopromocion:</strong>
  <%= @daw_promo.pro_tipopromocion %>
</p>

<p>
  <strong>Pro estado:</strong>
  <%= @daw_promo.pro_estado %>
</p>

<%= link_to 'Edit', edit_daw_promo_path(@daw_promo) %> |
<%= link_to 'Back', daw_promos_path %>
