<p id="notice"><%= notice %></p>

<p>
  <strong>Rpi tiporol:</strong>
  <%= @daw_rol_pers_insc.rpi_tiporol %>
</p>

<p>
  <strong>Daw persona:</strong>
  <%= @daw_rol_pers_insc.daw_persona %>
</p>

<%= link_to 'Edit', edit_daw_rol_pers_insc_path(@daw_rol_pers_insc) %> |
<%= link_to 'Back', daw_rol_pers_inscs_path %>
