<p id="notice"><%= notice %></p>

<p>
  <strong>Cont tiempo:</strong>
  <%= @daw_contrato.cont_tiempo %>
</p>

<p>
  <strong>Cont fechaini:</strong>
  <%= @daw_contrato.cont_fechaini %>
</p>

<p>
  <strong>Cont fechafin:</strong>
  <%= @daw_contrato.cont_fechafin %>
</p>

<p>
  <strong>Cont archivo:</strong>
  <%= @daw_contrato.cont_archivo %>
</p>

<p>
  <strong>Cont descripcion:</strong>
  <%= @daw_contrato.cont_descripcion %>
</p>

<p>
  <strong>Daw persona:</strong>
  <%= @daw_contrato.daw_persona %>
</p>

<%= link_to 'Edit', edit_daw_contrato_path(@daw_contrato) %> |
<%= link_to 'Back', daw_contratos_path %>
