<%= form_for(@daw_curso_tema) do |f| %><br><br><br><br><br>
  <% if @daw_curso_tema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daw_curso_tema.errors.count, "error") %> prohibited this daw_curso_tema from being saved:</h2>

      <ul>
      <% @daw_curso_tema.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Orden %><br>
    <%= f.number_field :cursotema_ordentema %>
  </div>
  <div class="field">
    <%= f.label :Semana %><br>
    <%= f.number_field :cursotema_semana %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
