<p id="notice"><%= notice %></p>

<p>
  <strong>Pa profesion:</strong>
  <%= @daw_prof_asist.pa_profesion %>
</p>

<p>
  <strong>Pa tipo:</strong>
  <%= @daw_prof_asist.pa_tipo %>
</p>

<p>
  <strong>Pa fechaingr:</strong>
  <%= @daw_prof_asist.pa_fechaingr %>
</p>

<p>
  <strong>Pa biografia:</strong>
  <%= @daw_prof_asist.pa_biografia %>
</p>

<%= link_to 'Edit', edit_daw_prof_asist_path(@daw_prof_asist) %> |
<%= link_to 'Back', daw_prof_asists_path %>
