<p id="notice"><%= notice %></p>

<h1>Listing Daw Opcions</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Correcta</th>
      <th>Motivo</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daw_opcions.each do |daw_opcion| %>
      <tr>
        <td><%= daw_opcion.opc_descripcion %></td>
        <%if (daw_opcion.opc_correcta==true)%>
        <td><%= :si %></td>
        <%else%>
        <td><%= :no %></td>
        <%end%>
        <td><%= daw_opcion.opc_motivo %></td>
        <td><%= daw_opcion.opc_tipo %></td>
        <td><%= link_to 'Show', daw_opcion %></td>
        <td><%= link_to 'Edit', edit_daw_opcion_path(daw_opcion) %></td>
        <td><%= button_to 'Destroy', daw_opcion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daw opcion', new_daw_opcion_path %>
