<p id="notice"><%= notice %></p>

<p>
  <strong>Loge sesion:</strong>
  <%= @daw_log_error.loge_sesion %>
</p>

<p>
  <strong>Loge descripcion:</strong>
  <%= @daw_log_error.loge_descripcion %>
</p>

<p>
  <strong>Loge fecha:</strong>
  <%= @daw_log_error.loge_fecha %>
</p>

<p>
  <strong>Loge estado:</strong>
  <%= @daw_log_error.loge_estado %>
</p>

<p>
  <strong>Loge error:</strong>
  <%= @daw_log_error.loge_error %>
</p>

<p>
  <strong>Loge errorbd:</strong>
  <%= @daw_log_error.loge_errorbd %>
</p>

<p>
  <strong>Loge argumento1:</strong>
  <%= @daw_log_error.loge_argumento1 %>
</p>

<p>
  <strong>Loge argumento2:</strong>
  <%= @daw_log_error.loge_argumento2 %>
</p>

<%= link_to 'Edit', edit_daw_log_error_path(@daw_log_error) %> |
<%= link_to 'Back', daw_log_errors_path %>
