<p id="notice"><%= notice %></p>

<p>
  <strong>Pers cedula:</strong>
  <%= @daw_persona.pers_cedula %>
</p>

<p>
  <strong>Pers primernom:</strong>
  <%= @daw_persona.pers_primernom %>
</p>

<p>
  <strong>Pers segundonom:</strong>
  <%= @daw_persona.pers_segundonom %>
</p>

<p>
  <strong>Pers primerape:</strong>
  <%= @daw_persona.pers_primerape %>
</p>

<p>
  <strong>Pers segundoape:</strong>
  <%= @daw_persona.pers_segundoape %>
</p>

<p>
  <strong>Pers estadocivil:</strong>
  <%= @daw_persona.pers_estadocivil %>
</p>

<p>
  <strong>Pers fechanac:</strong>
  <%= @daw_persona.pers_fechanac %>
</p>

<p>
  <strong>Pers sexo:</strong>
  <%= @daw_persona.pers_sexo %>
</p>

<p>
  <strong>Pers foto:</strong>
  <%= @daw_persona.pers_foto %>
</p>

<p>
  <strong>Pers email:</strong>
  <%= @daw_persona.pers_email %>
</p>

<p>
  <strong>Pers tlf1:</strong>
  <%= @daw_persona.pers_tlf1 %>
</p>

<p>
  <strong>Pers tlf2:</strong>
  <%= @daw_persona.pers_tlf2 %>
</p>

<p>
  <strong>Pers tipopers:</strong>
  <%= @daw_persona.pers_tipopers %>
</p>

<p>
  <strong>Daw lugar:</strong>
  <%= @daw_persona.daw_lugar %>
</p>

<p>
  <strong>Daw usuario:</strong>
  <%= @daw_persona.daw_usuario %>
</p>

<%= link_to 'Edit', edit_daw_persona_path(@daw_persona) %> |
<%= link_to 'Back', daw_personas_path %>
