<p id="notice"><%= notice %></p>

<p>
  <strong>Estu nacionalidad:</strong>
  <%= @daw_estudiante.estu_nacionalidad %>
</p>

<p>
  <strong>Estu biografia:</strong>
  <%= @daw_estudiante.estu_biografia %>
</p>

<%= link_to 'Edit', edit_daw_estudiante_path(@daw_estudiante) %> |
<%= link_to 'Back', daw_estudiantes_path %>
