<p id="notice"><%= notice %></p>

<h1>Listing Daw Respuestaes</h1>

<table>
  <thead>
    <tr>
      <th>Res valor</th>
      <th>Res fecha</th>
      <th>Daw preguntae</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daw_respuestaes.each do |daw_respuestae| %>
      <tr>
        <td><%= daw_respuestae.res_valor %></td>
        <td><%= daw_respuestae.res_fecha %></td>
        <td><%= daw_respuestae.daw_preguntae %></td>
        <td><%= link_to 'Show', daw_respuestae %></td>
        <td><%= link_to 'Edit', edit_daw_respuestae_path(daw_respuestae) %></td>
        <td><%= link_to 'Destroy', daw_respuestae, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daw respuestae', new_daw_respuestae_path %>
