<p id="notice"><%= notice %></p>

<p>
  <strong>Res valor:</strong>
  <%= @daw_respuestae.res_valor %>
</p>

<p>
  <strong>Res fecha:</strong>
  <%= @daw_respuestae.res_fecha %>
</p>

<p>
  <strong>Daw preguntae:</strong>
  <%= @daw_respuestae.daw_preguntae %>
</p>

<%= link_to 'Edit', edit_daw_respuestae_path(@daw_respuestae) %> |
<%= link_to 'Back', daw_respuestaes_path %>
