<p id="notice"><%= notice %></p>

<p>
  <strong>Cur com fechaenviado:</strong>
  <%= @daw_curso_comunicado.cur_com_fechaenviado %>
</p>

<p>
  <strong>Daw comunicado:</strong>
  <%= @daw_curso_comunicado.daw_comunicado %>
</p>

<%= link_to 'Edit', edit_daw_curso_comunicado_path(@daw_curso_comunicado) %> |
<%= link_to 'Back', daw_curso_comunicados_path %>
