<p id="notice"><%= notice %></p>

<h1>Listing Daw Log Transaccions</h1>

<table>
  <thead>
    <tr>
      <th>Logt sesion</th>
      <th>Logt descripcion</th>
      <th>Logt fecha</th>
      <th>Logt estado</th>
      <th>Logt transaccion</th>
      <th>Logt argumento1</th>
      <th>Logt argumento2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daw_log_transaccions.each do |daw_log_transaccion| %>
      <tr>
        <td><%= daw_log_transaccion.logt_sesion %></td>
        <td><%= daw_log_transaccion.logt_descripcion %></td>
        <td><%= daw_log_transaccion.logt_fecha %></td>
        <td><%= daw_log_transaccion.logt_estado %></td>
        <td><%= daw_log_transaccion.logt_transaccion %></td>
        <td><%= daw_log_transaccion.logt_argumento1 %></td>
        <td><%= daw_log_transaccion.logt_argumento2 %></td>
        <td><%= link_to 'Show', daw_log_transaccion %></td>
        <td><%= link_to 'Edit', edit_daw_log_transaccion_path(daw_log_transaccion) %></td>
        <td><%= link_to 'Destroy', daw_log_transaccion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daw log transaccion', new_daw_log_transaccion_path %>
