<p id="notice"><%= notice %></p>

<p>
  <strong>Sesión</strong>
  <%= @daw_log_transaccion.logt_sesion %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @daw_log_transaccion.logt_descripcion %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @daw_log_transaccion.logt_fecha %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @daw_log_transaccion.logt_estado %>
</p>

<p>
  <strong>Transaccion:</strong>
  <%= @daw_log_transaccion.logt_transaccion %>
</p>

<p>
  <strong>Argumento:</strong>
  <%= @daw_log_transaccion.logt_argumento1 %>
</p>

<p>
  <strong>Argumento:</strong>
  <%= @daw_log_transaccion.logt_argumento2 %>
</p>

<%= link_to 'Edit', edit_daw_log_transaccion_path(@daw_log_transaccion) %> |
<%= link_to 'Back', daw_log_transaccions_path %>
