<p id="notice"><%= notice %></p>

<p>
  <strong>Logt sesion:</strong>
  <%= @daw_log_transaccion.logt_sesion %>
</p>

<p>
  <strong>Logt descripcion:</strong>
  <%= @daw_log_transaccion.logt_descripcion %>
</p>

<p>
  <strong>Logt fecha:</strong>
  <%= @daw_log_transaccion.logt_fecha %>
</p>

<p>
  <strong>Logt estado:</strong>
  <%= @daw_log_transaccion.logt_estado %>
</p>

<p>
  <strong>Logt transaccion:</strong>
  <%= @daw_log_transaccion.logt_transaccion %>
</p>

<p>
  <strong>Logt argumento1:</strong>
  <%= @daw_log_transaccion.logt_argumento1 %>
</p>

<p>
  <strong>Logt argumento2:</strong>
  <%= @daw_log_transaccion.logt_argumento2 %>
</p>

<%= link_to 'Edit', edit_daw_log_transaccion_path(@daw_log_transaccion) %> |
<%= link_to 'Back', daw_log_transaccions_path %>
