<p id="notice"><%= notice %></p>

<h1>Listing Daw Promocions</h1>

<table>
  <thead>
    <tr>
      <th>Pro nombre</th>
      <th>Pro porcentaje</th>
      <th>Pro fechainicio</th>
      <th>Pro fechafin</th>
      <th>Pro tipopromocion</th>
      <th>Pro estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daw_promocions.each do |daw_promocion| %>
      <tr>
        <td><%= daw_promocion.pro_nombre %></td>
        <td><%= daw_promocion.pro_porcentaje %></td>
        <td><%= daw_promocion.pro_fechainicio %></td>
        <td><%= daw_promocion.pro_fechafin %></td>
        <td><%= daw_promocion.pro_tipopromocion %></td>
        <td><%= daw_promocion.pro_estado %></td>
        <td><%= link_to 'Show', daw_promocion %></td>
        <td><%= link_to 'Edit', edit_daw_promocion_path(daw_promocion) %></td>
        <td><%= link_to 'Destroy', daw_promocion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daw promocion', new_daw_promocion_path %>
