<p id="notice"><%= notice %></p>

<p>
  <strong>Pro nombre:</strong>
  <%= @daw_promocion.pro_nombre %>
</p>

<p>
  <strong>Pro porcentaje:</strong>
  <%= @daw_promocion.pro_porcentaje %>
</p>

<p>
  <strong>Pro fechainicio:</strong>
  <%= @daw_promocion.pro_fechainicio %>
</p>

<p>
  <strong>Pro fechafin:</strong>
  <%= @daw_promocion.pro_fechafin %>
</p>

<p>
  <strong>Pro tipopromocion:</strong>
  <%= @daw_promocion.pro_tipopromocion %>
</p>

<p>
  <strong>Pro estado:</strong>
  <%= @daw_promocion.pro_estado %>
</p>

<%= link_to 'Edit', edit_daw_promocion_path(@daw_promocion) %> |
<%= link_to 'Back', daw_promocions_path %>
