<p id="notice"><%= notice %></p>

<h1>Listing Daw Asignaturas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daw_asignaturas.each do |daw_asignatura| %>
      <tr>
        <td><%= daw_asignatura.asig_nombre %></td>
        <td><%= daw_asignatura.asig_descripcion %></td>
        <td><%= link_to 'Show', daw_asignatura %></td>
        <td><%= link_to 'Edit', edit_daw_asignatura_path(daw_asignatura) %></td>
        <td><%= button_to 'Destroy', daw_asignatura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daw asignatura', new_daw_asignatura_path %>
