<p id="notice"><%= notice %></p>

<p>
  <strong>Com nombre:</strong>
  <%= @daw_comunicado.com_nombre %>
</p>

<p>
  <strong>Com texto:</strong>
  <%= @daw_comunicado.com_texto %>
</p>

<p>
  <strong>Com tipocomunicado:</strong>
  <%= @daw_comunicado.com_tipocomunicado %>
</p>

<p>
  <strong>Com estado:</strong>
  <%= @daw_comunicado.com_estado %>
</p>

<p>
  <strong>Com fechaenvio:</strong>
  <%= @daw_comunicado.com_fechaenvio %>
</p>

<%= link_to 'Edit', edit_daw_comunicado_path(@daw_comunicado) %> |
<%= link_to 'Back', daw_comunicados_path %>
