<p id="notice"><%= notice %></p>

<h1>Listing Daw Hist Cambios</h1>

<table>
  <thead>
    <tr>
      <th>Hcam idtabla</th>
      <th>Hcam idregistro</th>
      <th>Hcam fecha</th>
      <th>Hcam descripcion</th>
      <th>Hcam campo</th>
      <th>Hcam estado</th>
      <th>Hcam login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daw_hist_cambios.each do |daw_hist_cambio| %>
      <tr>
        <td><%= daw_hist_cambio.hcam_idtabla %></td>
        <td><%= daw_hist_cambio.hcam_idregistro %></td>
        <td><%= daw_hist_cambio.hcam_fecha %></td>
        <td><%= daw_hist_cambio.hcam_descripcion %></td>
        <td><%= daw_hist_cambio.hcam_campo %></td>
        <td><%= daw_hist_cambio.hcam_estado %></td>
        <td><%= daw_hist_cambio.hcam_login %></td>
        <td><%= link_to 'Show', daw_hist_cambio %></td>
        <td><%= link_to 'Edit', edit_daw_hist_cambio_path(daw_hist_cambio) %></td>
        <td><%= link_to 'Destroy', daw_hist_cambio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daw hist cambio', new_daw_hist_cambio_path %>
