<p id="notice"><%= notice %></p>

<p>
  <strong>Hcam idtabla:</strong>
  <%= @daw_hist_cambio.hcam_idtabla %>
</p>

<p>
  <strong>Hcam idregistro:</strong>
  <%= @daw_hist_cambio.hcam_idregistro %>
</p>

<p>
  <strong>Hcam fecha:</strong>
  <%= @daw_hist_cambio.hcam_fecha %>
</p>

<p>
  <strong>Hcam descripcion:</strong>
  <%= @daw_hist_cambio.hcam_descripcion %>
</p>

<p>
  <strong>Hcam campo:</strong>
  <%= @daw_hist_cambio.hcam_campo %>
</p>

<p>
  <strong>Hcam estado:</strong>
  <%= @daw_hist_cambio.hcam_estado %>
</p>

<p>
  <strong>Hcam login:</strong>
  <%= @daw_hist_cambio.hcam_login %>
</p>

<%= link_to 'Edit', edit_daw_hist_cambio_path(@daw_hist_cambio) %> |
<%= link_to 'Back', daw_hist_cambios_path %>
