<p id="notice"><%= notice %></p>

<p>
  <strong>Trab nombre:</strong>
  <%= @daw_trabajo.trab_nombre %>
</p>

<p>
  <strong>Trab tipo:</strong>
  <%= @daw_trabajo.trab_tipo %>
</p>

<p>
  <strong>Trab telefono:</strong>
  <%= @daw_trabajo.trab_telefono %>
</p>

<p>
  <strong>Trab direccion:</strong>
  <%= @daw_trabajo.trab_direccion %>
</p>

<p>
  <strong>Trab fecha:</strong>
  <%= @daw_trabajo.trab_fecha %>
</p>

<p>
  <strong>Trab estado:</strong>
  <%= @daw_trabajo.trab_estado %>
</p>

<p>
  <strong>Daw persona:</strong>
  <%= @daw_trabajo.daw_persona %>
</p>

<%= link_to 'Edit', edit_daw_trabajo_path(@daw_trabajo) %> |
<%= link_to 'Back', daw_trabajos_path %>
