<p id="notice"><%= notice %></p>

<p>
  <strong>Staff fechaingr:</strong>
  <%= @daw_staff.staff_fechaingr %>
</p>

<p>
  <strong>Staff fechasalida:</strong>
  <%= @daw_staff.staff_fechasalida %>
</p>

<p>
  <strong>Staff estado:</strong>
  <%= @daw_staff.staff_estado %>
</p>

<%= link_to 'Edit', edit_daw_staff_path(@daw_staff) %> |
<%= link_to 'Back', daw_staffs_path %>
