<p id="notice"><%= notice %></p>

<p>
  <strong>Resp puntaje:</strong>
  <%= @daw_respuest.resp_puntaje %>
</p>

<p>
  <strong>Resp valor:</strong>
  <%= @daw_respuest.resp_valor %>
</p>

<%= link_to 'Edit', edit_daw_respuest_path(@daw_respuest) %> |
<%= link_to 'Back', daw_respuests_path %>
