<%= form_for(@daw_sondeo) do |f| %>
  <% if @daw_sondeo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daw_sondeo.errors.count, "error") %> prohibited this daw_sondeo from being saved:</h2>

      <ul>
      <% @daw_sondeo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :son_nombre %><br>
    <%= f.text_field :son_nombre %>
  </div>
  <div class="field">
    <%= f.label :son_descripcion %><br>
    <%= f.text_area :son_descripcion %>
  </div>
  <div class="field">
    <%= f.label :son_tipoencuesta %><br>
    <%= f.text_field :son_tipoencuesta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
