<p id="notice"><%= notice %></p>

<h1>Listing Daw Sondeos</h1>

<table>
  <thead>
    <tr>
      <th>Son nombre</th>
      <th>Son descripcion</th>
      <th>Son tipoencuesta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @daw_sondeos.each do |daw_sondeo| %>
      <tr>
        <td><%= daw_sondeo.son_nombre %></td>
        <td><%= daw_sondeo.son_descripcion %></td>
        <td><%= daw_sondeo.son_tipoencuesta %></td>
        <td><%= link_to 'Show', daw_sondeo %></td>
        <td><%= link_to 'Edit', edit_daw_sondeo_path(daw_sondeo) %></td>
        <td><%= link_to 'Destroy', daw_sondeo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daw sondeo', new_daw_sondeo_path %>
