<%= form_for(@daw_historico_cambio) do |f| %>
  <% if @daw_historico_cambio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daw_historico_cambio.errors.count, "error") %> prohibited this daw_historico_cambio from being saved:</h2>

      <ul>
      <% @daw_historico_cambio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :his_cam_idtabla %><br>
    <%= f.number_field :his_cam_idtabla %>
  </div>
  <div class="field">
    <%= f.label :his_cam_idregistro %><br>
    <%= f.number_field :his_cam_idregistro %>
  </div>
  <div class="field">
    <%= f.label :his_cam_fecha %><br>
    <%= f.date_select :his_cam_fecha %>
  </div>
  <div class="field">
    <%= f.label :his_cam_descripcion %><br>
    <%= f.text_area :his_cam_descripcion %>
  </div>
  <div class="field">
    <%= f.label :his_cam_campo %><br>
    <%= f.text_field :his_cam_campo %>
  </div>
  <div class="field">
    <%= f.label :his_cam_estado %><br>
    <%= f.text_field :his_cam_estado %>
  </div>
  <div class="field">
    <%= f.label :his_cam_login %><br>
    <%= f.text_field :his_cam_login %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
