<p id="notice"><%= notice %></p>

<p>
  <strong>His cam idtabla:</strong>
  <%= @daw_historico_cambio.his_cam_idtabla %>
</p>

<p>
  <strong>His cam idregistro:</strong>
  <%= @daw_historico_cambio.his_cam_idregistro %>
</p>

<p>
  <strong>His cam fecha:</strong>
  <%= @daw_historico_cambio.his_cam_fecha %>
</p>

<p>
  <strong>His cam descripcion:</strong>
  <%= @daw_historico_cambio.his_cam_descripcion %>
</p>

<p>
  <strong>His cam campo:</strong>
  <%= @daw_historico_cambio.his_cam_campo %>
</p>

<p>
  <strong>His cam estado:</strong>
  <%= @daw_historico_cambio.his_cam_estado %>
</p>

<p>
  <strong>His cam login:</strong>
  <%= @daw_historico_cambio.his_cam_login %>
</p>

<%= link_to 'Edit', edit_daw_historico_cambio_path(@daw_historico_cambio) %> |
<%= link_to 'Back', daw_historico_cambios_path %>
